html, body {
    background-color: #2589BD;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

a {
    color: #FCF7F8;
}

a:hover {
    color: #CED3DC;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    color: #0B3954;
}

.display-inline {
    display: inline-block;
    text-align: left;
}

.links {
    margin-left:10px;
}

.links > a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

.block-links > a {
    display: block;
    text-align: left;
}

.m-b-md {
    margin-bottom: 30px;
}